body{
    background-color: #fcb849;
}
form{
    width: 100%;
    max-width: 800px;
    margin: auto;
}
.bold-text{
    font-weight: bold;
}
#the-heading{
    color: red;
}
#small-div{
    width: 100px;
    height: 100px;
    border-width: 3px;
    border-color: #aaaaaa;
    border-radius: 3px;
    border-style: solid;
}